.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 100;
  color: white !important;
  background-color: rebeccapurple !important;
}

.nav-menu > h1 {
  margin: 1rem;
  font:
    500 2rem "Segoe UI",
    system-ui,
    monospace;
  line-height: 100%;
}

#header-sep {
  display: block;
  height: 12rem;
  content: "";
}

.header-background-image {
  border-radius: 0 0 0.75rem 0.75rem;
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 4rem;
  left: 0;
}
