@-webkit-keyframes pulse {
  from {
    font-size: 90%;
  }
  to {
    font-size: 125%;
  }
}

@keyframes pulse {
  from {
    font-size: 90%;
  }
  to {
    font-size: 125%;
  }
}

.app-footer {
  margin-top: 4rem;
  padding: 2rem 0;
}

.heart-emoji {
  display: inline-block;
  position: relative;
  color: transparent;
}

.heart-emoji::after {
  content: "💖";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
